@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Ubuntu:wght@500&display=swapfamily=Square+Peg&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
    background-color: #1CA1A6;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    color: #565676;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .3rem;
  margin: .3rem 0px;
  background-color: #CEF2DF;
  padding: 2rem;
  box-shadow: 0px 0px .2rem rgba(0, 0, 0, 0.5);
}

.step h1 {
    font-family: 'Square Peg', cursive;
}

.step > * {
  margin: .2rem;
}


button {
  padding: .2rem;
  margin: .3rem;
  color: black;
}

.complete {
  text-decoration: line-through;
}